btop
Code
create-next-app-nodejs
dconf
discord
dolphinrc
dunst
Electron
go
gtk-3.0
htop
jgit
kde.org
mpv
nnn
obs-studio
pavucontrol.ini
pulse
QtProject.conf
session
solaar
spotify
spotify-flags.conf
systemd
trashrc
yay
kiorc
wofi
