#bar {
    margin: 30px; /* affects top/bottom & left/right alignment */
    font-family: Noto Sans CJK;
}

button, image {
    background: none;
    border-style: none;
    box-shadow: none;
    color:#c0caf5;
}

button {
    padding-top: 10px;
    margin: 5px
}

button:hover {
    background-color: rgba(47, 51, 77, 0.7);
}

button:focus {
    background-color: rgba(47, 51, 77, 0.7);
}

grid {
    background-color: rgba(26, 27, 38, 0.7);
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #24283b;
}